.peoplenearby {
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #17a2b8;
  padding: 20px;
  margin-bottom: 20px;
  border: none;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}

.peoplenearby .nearbyuser{
  padding: 20px 0;
  border-bottom: 1px solid #17a2b8;
  margin-bottom: 20px;
}

.nearbyuser a {
  color: #17a2b8;
}