.icon{
  position: relative;
  width: 36px;
  font-size: 24px;
  top: 3px;
  line-height: 12px;
}

.icon > .badge {
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  font-family: sans-serif;
  top: -10px;
}

.badge2{
  z-index: 3000;
}

.top {
  height: 1.8rem;
}

.drop {
  right: 0 !important;
}

@media (min-width: 576px) {
  .navbaricontop.navbar-expand-sm .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .icon > .badge {
    top: -7px;
  }
}

@media (min-width: 768px) {
  .navbaricontop.navbar-expand-md .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .icon > .badge {
    top: -7px;
  }
}

@media (min-width: 992px) {
  .navbaricontop.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .icon > .badge {
    top: -7px;
  }
}

@media (min-width: 1200px) {
  .navbaricontop.navbar-expand-xl .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }

  .icon {
    display: block;
    width: 48px;
    margin: 2px auto 4px auto;
    top: 0;
    line-height: 24px;
  }

  .icon > .badge {
    top: -7px;
  }
}